APP_FIREBASE_PROJECT_ID=your-firebase-project-id
ENVIRONMENT_NAME=local
SOURCE_PROVIDER=orange
SOURCE_EMAIL_ADDRESS=user@orange.fr
POP3_HOST=pop.orange.fr
POP3_PORT=995
POP3_USERNAME=user@orange.fr
POP3_PASSWORD=replace-me
POP3_TLS=true
POP3_TIMEOUT_MS=15000
POP3_MAX_MESSAGES_PER_RUN=100
UIDL_RETENTION_DAYS=30
UIDL_MINIMUM_RETAINED_COUNT=1000
UIDL_CLEANUP_BATCH_SIZE=250
GMAIL_CLIENT_ID=replace-me
GMAIL_CLIENT_SECRET=replace-me
GMAIL_REFRESH_TOKEN=replace-me
GMAIL_USER_EMAIL=user@gmail.com
GMAIL_TIMEOUT_MS=15000
GMAIL_MAX_IMPORT_RETRIES=2
AMPLITUDE_API_KEY=replace-me
