.DS_Store
.firebase/
.firebaserc
tmp/
.idea/
.vscode/
.vs/
node_modules/
functions/node_modules/
functions/lib/
functions/coverage/
functions/src/api/generated/
functions/.env.local
functions/.env.test.local
coverage/
*.log
